<!DOCTYPE html>
html(lang="fr")
	head
		meta(charset="UTF-8")
		meta(lang="fr")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet' href='/windowstyle.css')
		link(rel="shortcut icon" type="image/ico" href="/uploads/favicon.ico")
		script(src='https://use.fontawesome.com/74eb59777f.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(type="text/javascript").
			var originalHTML = ""
			async function loadedPage(){
				window.HTMLcontent = ""
				await updateChat()
				refresh = await setInterval(updateChat, 2000)
				return false;
			};
			function changeChannel(channel, modonly){

				var currentChannel = document.getElementById('chatiframe').getAttribute("src").slice(document.getElementById('chatiframe').getAttribute("src").length - 7).substring(0,3);
				document.getElementById('chatiframe').src='/chat?chan='+channel+"#end";

				console.log(`Channel change : ${currentChannel} to ${channel}`)

				var currentChat = document.getElementById(currentChannel+'chan') || document.getElementById('genchan')
				currentChat.style='';

				var gotoChannel = document.getElementById(channel+'chan')
				gotoChannel.style='background-color: #555;';

				var msgform = document.getElementById('msgform')
				if (msgform) msgform.action= '/sendmsg/'+channel;

				var codelink = document.getElementById('codelink')
				if (codelink) codelink.href = '/code/'+channel

				var isMod = document.getElementById('mod')
				if (!isMod) {
					if (modonly) {
						if (msgform) msgform.style = "visibility: hidden"
						var formplaceholder = document.getElementById('formplaceholder')
						originalHTML = formplaceholder.innerHTML
						formplaceholder.innerHTML = '<div class="disallowed"><i class="fa fa-exclamation-circle"></i>&nbsp;Ce salon est réservé aux modérateurs.</div>'
					} else {
						if (originalHTML) {
							formplaceholder = document.getElementById('formplaceholder')
							formplaceholder.innerHTML = originalHTML
						}
						var msgform = document.getElementById('msgform')
						if (msgform) msgform.style = ""
					}
				}

				return false;
			};
			function updateChat(){
				var chat = document.getElementById('chatiframe');
				$.ajax({
					url: document.getElementById('chatiframe').getAttribute("src"),
					type: 'GET',
					success: (res) => {
						if (window.HTMLcontent !== res) {
							window.HTMLcontent = res;
							chat.contentWindow.location.reload();
							console.log("Refreshed chat")
						}
					},
					error: (jqXHR, textStatus, errorThrown) => {
						console.error(textStatus);
					}
				});
				chat.onload = function () {
					chat.contentWindow.scrollTo(0, 999999);
					document.getElementById('message_input').focus()
				}
				return false;
			};
			function showParams(){ //not used atm
				var params = document.getElementById('params');
				var param_button = document.getElementById('param_button');
				if (params_state == false) {
					params.style = 'visibility: visible;'
					param_button.style = 'background-color: #555'
					params_state = true
				} else {
					params.style = 'visibility: hidden;'
					param_button.style = ''
					params_state = false
				}
				return false;
			};
			function getOutput() {
				outputfile.innerHTML = '<i class="fa fa-plus-circle"></i> ' + uploadimg.value.replace(/.*[\/\\]/, '') + ' - <i class="fa fa-trash" title="Supprimer" onclick="clearInput()" style="color: #1091FF; cursor: pointer;"></i>';
				return false;
			}
			function clearInput() {
				outputfile.innerHTML = '';
				uploadimg.value = ''
				return false;
			}


	body(onload="loadedPage(); var params_state = false;")
		.left_col
			if user
				.account
					i(class="fa fa-user-circle")
					|  #{user.name}
					if user.moderator
						| &nbsp;
						i(class="fa fa-flag" title="Modérateur" id="mod")
					if user.dev
						| &nbsp;
						i(class="fa fa-code" title="Développeur" id="dev")
					if user.bughunter
						| &nbsp;
						i(class="fa fa-bug" title="Chasseur de bugs")
					if user.questionsAnswered > 99
						| &nbsp;
						i(class="fa fa-rocket" title="A répondu à plus de 100 questions du quizz !")
					if user.quizzFirst
						| &nbsp;
						i(class="fa fa-trophy" title="Est actuellement premier au classement du quizz !")
					if user.banned
						| &nbsp;
						i(class="fa fa-ban" title="Utilisateur banni" id="ban")
				input(type="button" onclick=`window.location.href = '/logout';` class='button logout_button' value='Déconnexion')
			else
				input(type="button" onclick=`window.location.href = '/register';` class='button register_button' value='Inscription')
				input(type="button" onclick=`window.location.href = '/login';` class='button login_button' value='Connexion')
			.channels
				each chan in channelsList
					if chan.selector == reqChan
						.channel(onclick=`changeChannel('${chan.selector}', ${chan.modonly});` id=`${chan.selector}chan` style="background-color: #555;")
							| ##{chan.name}
					else if !reqChan && chan.default
						.channel(onclick=`changeChannel('${chan.selector}', ${chan.modonly});` id=`${chan.selector}chan` style="background-color: #555;")
							| ##{chan.name}
					else
						.channel(onclick=`changeChannel('${chan.selector}', ${chan.modonly});` id=`${chan.selector}chan`)
							| ##{chan.name}
			//- .param_button(onclick="showParams();" id="param_button")
				| Paramètres
			//- .params(style="visibility: hidden;" id="params" onload="var params_state = false;")
				.param()
					| Vitesse de rafraîchissement
					br
					| (en secondes) :
					.number_imput
						input(type="number" placeholder="" step="0.5" min="0.5" max="60" value="3" onchange="updateRefresh(this.value);")

		.right_col
			.messages
				iframe(src=`/chat?chan=${reqChan || 'gen'}#end` id="chatiframe")
			.msgform(id="formplaceholder")
				if user && !user.banned
					form(action=`/sendmsg/${reqChan || 'gen'}` method='POST' enctype='multipart/form-data' id="msgform")
						input(name='text' id='message_input' class='message_input' placeholder='Envoyer un message...' maxlength="256" rows='2' autofocus autocomplete="off")

						label(for="uploadimg")
							div(class='image_button' title="Ajouter une image" type="button")
								i(class="fa fa-image icon-pic")
						input(type="file" name="image" style="display: none;" id="uploadimg" accept='image/*' onChange='getOutput();')

						a(id='codelink' href=`/code/${reqChan || 'gen'}` style="text-decoration: none; color: #D7D5D9; outline: none;")
							div(id='codebutton' class='code_button' type="button" title="Ajouter du code")
								i(class="fa fa-code")

						button(type="submit" class='message_button')
							i(class="fa fa-paper-plane")

						div(id='outputfile' name='outputfile' style="padding-top: 2px;")
				else if user
					.disallowed
						i(class="fa fa-exclamation-circle")
						| &nbsp;
						| Vous avez été banni du chat par un modérateur pour comportements innapropriés.
						br
						| Pour contester cette décision, contactez un administrateur.
				else
					.disallowed
						i(class="fa fa-exclamation-circle")
						| &nbsp;
						| Vous devez être connecté pour utiliser le chat.

