mixin message(message, chan)
	.message
		if message.text || message.image
			.messagetext
				| #{message.text}
				if message.image
					if message.text
						br
					img(src=`${message.image}` style="max-width: 500px; max-height: 300px; border-radius: 3px; margin-top:5px;")
		else if message.code
			pre.messagecode
				| #{message.code}
			button.copybutton(onclick=`window.location.href = "/copy/${message._id}"` style="outline: none; cursor: pointer;") Copier
		.messageauthor
			| #{message.author.name}
			if message.author.moderator
				| &nbsp;
				i(class="fa fa-flag" title="Modérateur")
			if message.author.dev
				| &nbsp;
				i(class="fa fa-code" title="Développeur")
			if message.author.banned
				| &nbsp;
				i(class="fa fa-ban" title="Utilisateur banni")
			time(title=`${moment(message.created).toLocaleString("fr-FR", { timeZone: "Europe/Paris" })}`)  &middot; #{moment(message.created).local().fromNow()}
			if user && user.moderator
				|  &middot;
				a(href=`/del/${message._id}` style="text-decoration: none; color: #ff0000; outline: none;")  Supprimer
				if user._id.toString() != message.author._id.toString() && !message.author.banned && !message.author.moderator
					|  &middot;
					a(href=`/ban/${message.author._id}/${chan}` style="text-decoration: none; color: #ff0000; outline: none;")  Bannir
