mixin message(message, chan)
	.message(quizz = `${message.author.username == 'quizzbot' && message.content.endsWith("?</b>") ? 'true' : 'false'}`)
		if message.text || message.image
			.messagetext
				| !{message.content || message.text}
				if message.image
					if message.text
						br
					img(src=`${message.image}` style="max-width: 500px; max-height: 300px; border-radius: 3px; margin-top:5px;")
		else if message.code
			pre.messagecode
				| #{message.code}

			// Very bad solution but the only one I found...
			// iframe(src=`https://nathn.github.io/copybutton?code=${message.code}` style="height: 30px; width:auto; border: none; margin-left: 5px")

			// button.copybutton(style="outline: none; cursor: pointer;" onclick=`copy("${message.code}");`) Copier

		.messageauthor
			| #{message.author.name}
			if message.author.moderator
				| &nbsp;
				i(class="fa fa-flag" title="Modérateur")
			if message.author.dev
				| &nbsp;
				i(class="fa fa-code" title="Développeur")
			if message.author.bughunter
				| &nbsp;
				i(class="fa fa-bug" title="Chasseur de bugs")
			if message.author.banned
				| &nbsp;
				i(class="fa fa-ban" title="Utilisateur banni")
			time(title=`${moment(message.created).toLocaleString("fr-FR", { timeZone: "Europe/Paris" })}`)  &bull; #{moment(message.created).local().fromNow()}
			if user && (user._id.toString() == message.author._id.toString() || user.moderator)
				|  &bull;
				a(href=`/del/${message._id}` style="text-decoration: none; color: #ff0000; outline: none;")  Supprimer
			if user && user.moderator
				if user._id.toString() != message.author._id.toString() && !message.author.banned && !message.author.moderator
					|  &bull;
					a(href=`/ban/${message.author._id}/${chan}` style="text-decoration: none; color: #ff0000; outline: none;")  Bannir
